*~
*.o
*.csv
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.log
config.status
configure
depcomp
docs/Makefile
docs/Makefile.in
*.save
install-sh
missing
server.log
src/.deps
src/Makefile
src/Makefile.in
st_client
st_server
test
.gdbinit
docs
.deps
release
INSTALL
autoscan.log
configure.scan
